<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  
  
<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>hei.projetiti.filter.SessionFilter</filter-class>
  </filter>
  <filter>
		<filter-name>AdminFilter</filter-name>
		<filter-class>hei.projetiti.filter.AdminFilter</filter-class>
  </filter>
 
  
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>hei.projetiti.controllers.AccueilServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>hei.projetiti.controllers.ConnexionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Profil</servlet-name>
    <servlet-class>hei.projetiti.controllers.ProfilServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Annonces</servlet-name>
    <servlet-class>hei.projetiti.controllers.AnnoncesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Contact</servlet-name>
    <servlet-class>hei.projetiti.controllers.ContactServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Administration</servlet-name>
    <servlet-class>hei.projetiti.controllers.AdministrationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestionComptes</servlet-name>
    <servlet-class>hei.projetiti.controllers.GestionComptesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestionCours</servlet-name>
    <servlet-class>hei.projetiti.controllers.GestionCoursServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>SupprimerCours</servlet-name>
    <servlet-class>hei.projetiti.controllers.SupprimerCoursServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>hei.projetiti.controllers.InscriptionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Impression</servlet-name>
    <servlet-class>hei.projetiti.controllers.ImpressionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Parametres</servlet-name>
    <servlet-class>hei.projetiti.controllers.ParametresServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Erreur</servlet-name>
    <servlet-class>hei.projetiti.controllers.ErreurServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Article</servlet-name>
    <servlet-class>hei.projetiti.controllers.ArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjouterCours</servlet-name>
    <servlet-class>hei.projetiti.controllers.AjouterCoursServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModificationAdherent</servlet-name>
    <servlet-class>hei.projetiti.controllers.ModificationAdherentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SupprimerCoursAdherent</servlet-name>
    <servlet-class>hei.projetiti.controllers.SupprimerCoursAdherentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjouterPaiementAdherent</servlet-name>
    <servlet-class>hei.projetiti.controllers.AjouterPaiementAdherentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PosterAnnonce</servlet-name>
    <servlet-class>hei.projetiti.controllers.PosterAnnonceServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Profil</servlet-name>
    <url-pattern>/profil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Annonces</servlet-name>
    <url-pattern>/annonces</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Administration</servlet-name>
    <url-pattern>/admin/administration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestionComptes</servlet-name>
    <url-pattern>/admin/gestion-comptes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestionCours</servlet-name>
    <url-pattern>/admin/gestion-cours</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>SupprimerCours</servlet-name>
    <url-pattern>/admin/supprimer-cours</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/admin/inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Impression</servlet-name>
    <url-pattern>/admin/impression</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Parametres</servlet-name>
    <url-pattern>/parametres</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Erreur</servlet-name>
    <url-pattern>/erreur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Article</servlet-name>
    <url-pattern>/article</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjouterCours</servlet-name>
    <url-pattern>/admin/ajoutercours</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModificationAdherent</servlet-name>
    <url-pattern>/admin/modifieradherent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SupprimerCoursAdherent</servlet-name>
    <url-pattern>/admin/supprimer-cours-adherent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjouterPaiementAdherent</servlet-name>
    <url-pattern>/admin/ajouter-paiement-adherent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PosterAnnonce</servlet-name>
    <url-pattern>/poster-annonce</url-pattern>
  </servlet-mapping>
  
  
  <filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  


  
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
</web-app>