*
{
	font-family: "Arial", sans-serif;
	font-size:1em;
}

legend
{
	background-color:rgb(220,220,220);
}

/**** Menu de navigation ****/

body
{
	margin:0;
	min-width:900px;
}

nav#menuGeneral
{
	position:relative;
	top:-16px;
	right:0px;			/* occupe toute la largeur de l'écran */
	left:0px;
	height:50px;
	background-color:#FDD909;
	background-image:linear-gradient(to top, rgb(255,247,0), rgb(255,167,0));
}


a.bandeau					/* Liens du bandeau de navigation */
{
	color:#000000;			
	text-decoration:none;	/* Sans soulignement */	
}

a
{
    color:black;
    text-decoration:none;
}

nav#menuGeneral > ul > li				/* Eléments du menu de navigation */
{
	display:inline;	
	position:relative;
	top:15px;
	margin-right:50px;
}

nav#menuGeneral > ul > li:first-child
{
	margin-left:200px;
}

nav#menuGeneral > ul > li:last-child
{
	margin-right:5px;
}


li.active a			/* Elément sélectionné, c'est à dire la page sur laquelle on se trouve */
{
	background-color:#000000;
	color:white;	
	border-radius:10px;
	padding: 5px 10px;
	font-weight:bold;
}   


/*** Bandeau ***/
header
{
	background:rgb(220,220,220);
	position:relative;
}
header > img.header
{
	position:absolute;
	width:80%;
	height:100%;
}

header > img.header, header > div#identifiant
{
	display:inline-block;
	vertical-align:top;
}

/*** Connexion ***/

body#connexion
{
	background-image:url("../img/cght.jpg");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
}

div.box
  {
	position:relative;
	width:220px;
	height:100%;
	margin:15% 56%;
	background-color:rgba(250,250,250,0.5);
	border:3px solid white;
	padding:10px;
  }
  
div.box p
{
	text-align:center;
}

.connexion
{
	background-color:white;
}

#modifier
{
	border-radius:0px;
	background-color:rgb(200,200,200);
	border:1px solid black;
	padding:3px 5px;
	cursor:pointer;
}


/*** Menu de la page Administration ***/

.menuLateral
{
	position:absolute;
	margin-top:-16px;
	width:150px;
	border:3px solid rgb(120,184,35);
	padding:20px;
	text-align:center;
}

.menuLateral ul li
{
	margin-left:-40px;
	list-style-type:none;
	padding:5px;
	border : 1px solid black;
	margin-top:10px;
	text-align:center;
}

.menuLateral > ul > li:first-child
{
	margin-top:-10px;
	margin-bottom:40px;
	border:2px solid rgb(120,184,35);
	background-image:linear-gradient(to top, rgb(220,220,220), rgb(250,250,250));
	color:rgb(120,184,35);
	text-align:center;
	padding:10px 20px;
}

.menuLateral > ul > li#ajouter-actualite
{
	margin-bottom:20px;
	margin-top:-20px;
}

.menuLateral ul li:hover 
{
	text-decoration:underline;
	background-color:rgb(240,240,240);
}

/*** Identification de la session ***/

#identifiant
{
	position:relative;
	border:2px solid rgb(50,155,50);
	width:19.7%;
	left:80%;
	text-align:center;
	height:140px;
	word-wrap:break-word;
}

#identifiant a
{
	position:relative;
	top:40px;
	border:1px solid red;
	color:red;
	background:white;
	padding:4px;
	background-image:url("../img/deconnexion.png");
	background-repeat:no-repeat;
	background-size:26px 26px;
	padding-left:30px;
	border-radius:5px;
}

#identifiant a:hover
{
	background:rgb(245,245,245);
	color:rgb(230,0,0);
	border:1px solid rgb(230,0,0);
	background-image:url("../img/deconnexion.png");
	background-repeat:no-repeat;
	background-size:26px 26px;
	padding-left:30px;
}

/*** Page d'inscription ***/

.inscription
{
	border:1px solid rgb(220,220,220);
	padding:20px;
	margin:20px;
}

.col
{
	width:100%;
}

.col  tr td, .col  tr td input
{
	vertical-align:middle;
}

.col tr td:first-child
{
	width:15%;
}

.col tr td:nth-child(2)
{
	width:35%;
}

.col tr td:nth-child(3)
{
	width:15%;
}

.col tr td:nth-child(4)
{
	width:35%;
}

#adresse, #codepostal, #ville
{
 width:300px;
}

#tablepaiements
{
	border:1px solid black;
	border-collapse:collapse;
	width:100%;
	text-align:center;
}

#tablepaiements tr:first-child td
{
	background-color:rgb(220,220,220);
}

#tablepaiements td, #tablepaiements tr
{
	border:1px solid black;
}

#statut > input
{
	position:relative;
	display:inline;
	margin-left:30px;
}

#ajouteradherent
{
	display:block;
	margin-right:auto;
	margin-left:auto;
}

.licenceIncorrecte
{
	display:none;
	color:red;
}

.valider
{
	position:relative;
  	padding: 4px 12px;
  	cursor: pointer;
  	background-color: rgb(240,240,240);
	border: 1px solid rgb(150,150,150);
	border-radius:5px;
}

.hidden
{
	display:none;
}

#erreur-nombrecours
{
	color:red;
}

/*** Gestion des cours ***/

#tablecours
{
	border:1px solid black;
	border-collapse:collapse;
	width:100%;
	text-align:center;
}

#tablecours tr:first-child td
{
	background-color:rgb(220,220,220);
}

#tablecours td, #tablecours tr
{
	border:1px solid black;
}

#ajoutercours td
{
	width:25%;
}

.bouton
{
	display:block;
	margin-right:auto;
	margin-left:auto;
	margin-top:20px;
	margin-bottom:20px;
}

/*** Gestion des comptes ***/

table#comptes
{
	border:1px solid black;
	border-collapse:collapse;
	width:100%;
	text-align:center;
}

table#comptes tr, table#comptes td, table#comptes th
{
	border:1px solid black;
}

/*** Menu administration ***/

.gras
{
	font-weight:bold;
	border:1px solid red;
}

/*** Modification adherent ***/

form#modif
{
	border:1px solid rgb(220,220,220);
	padding:20px;
}

/*** Impressions ***/

#fieldsetfichesadherents, #fieldsetfichespresence
{
	display:inline;
	width:43%;
	vertical-align:top;
}

#fichesadherents, #fichespresences
{
	border:1px solid black;
	border-collapse:collapse;
	text-align:center;
	width:100%;
}


#fichesadherents tr:first-child td, #fichespresences tr:first-child td
{
	background-color:rgb(220,220,220);
}

#fichesadherents td, #fichesadherents tr, #fichespresences td, #fichespresences tr
{
	border:1px solid black;
}


/*** Page de parametres ***/

.profil
{
	border:1px solid rgb(220,220,220);
	padding:20px;
	margin:20px;
}

.col
{
	width:100%;
}

.col  tr td, .col  tr td input
{
	vertical-align:middle;
}

.col tr td:first-child
{
	width:15%;
}

.col tr td:nth-child(2)
{
	width:35%;
}

.col tr td:nth-child(3)
{
	width:15%;
}

.col tr td:nth-child(4)
{
	width:35%;
}

.col tr td input
{
	width:200px;
}

.col tr td input[type="checkbox"]
{
	width:20px;
}

#modifierInformations
{
	display:block;
	margin-right:auto;
	margin-left:auto;
}


/*** Contenu page ***/

.contenuPage
{
	position:absolute;
	margin-top:-16px;
	margin-left:195px;
	padding:20px;
	border: 1px solid red;
}

article.actualite, article.annonce
{
	background:rgb(220,220,220);
	border-radius:10px;
	padding:10px;
	border: 1px solid black;
	margin-bottom:10px;
	min-height: 210px;
}

article.actualite p, article.annonce p, article.actualite h2, article.annonce h2
{
	margin-left:15px;
}
article.actualite .boutonsadmin, article.annonce .boutonsadmin
{
	float:right;
}

.photoannonce
{
	position:absolute;
	right:150px;
	max-height: 200px;
}

.contenuannonce
{
	min-height:200px;
	max-width:600px;
}

article.annonce .contenuannonce .teteannonce h2, article.annonce .contenuannonce .teteannonce p
{
	display:inline;
}

.photoannonce, .contenuannonce
{
	display:inline-block;
	vertical-align:top;
}


/*** Contact ***/

form#contact h2
{
	text-align:left;
	margin-left:70px;
}

form#contact input[type="submit"]
{
	display:block;
	margin-left:100px;
}